In [1]:
import pandas as pd

In [2]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [16]:
list('ZYX')

['Z', 'Y', 'X']

In [17]:
df = pd.DataFrame(data, list('ZYX'), list('CBA'))

In [18]:
df

   C  B  A
Z  1  2  3
Y  4  5  6
X  7  8  9

In [19]:
df.sort_index()
df

   C  B  A
Z  1  2  3
Y  4  5  6
X  7  8  9

In [20]:
df.sort_index(inplace = True, axis = 1)
df

   A  B  C
Z  3  2  1
Y  6  5  4
X  9  8  7